<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="1000">
        <img src="<%= asset_path('panqueques.jpeg') %>" class="d-block w-100" alt="panqueques">
    </div>
    <div class="carousel-item"  data-interval="1000">
      <img src="<%= asset_path('pie_limon.jpg') %>" class="d-block w-100" alt="pie limon">
    </div>
    <div class="carousel-item"  data-interval="1000">
      <img src="<%= asset_path('POMPADOUR-2.jpg') %>" class="d-block w-100" alt="torta pompadour">
    </div>
    <div class="carousel-item"  data-interval="1000">
      <img src="<%= asset_path('cookies.jpeg') %>" class="d-block w-100" alt="galletas">
    </div>
  </div>
</div>
