<!-- Footer -->
<div style="width: 100%">

<footer class="bg-dark py-4 mb-4">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
  </div>
</footer>
</div>
