<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Proyecto FullStackFinal</title>
  </head>
  <!-- Header -->
<header class="bg-info mb-2">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-black mt-5 mb-2">La tienda de la esquina</h1>
        <p class="lead mb-5 text-red-50"> eso, en la esquina</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Que hacemos</h2>
      <hr>
      <p><em>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A deserunt neque tempore recusandae animi soluta quasi? Asperiores rem dolore eaque vel, porro, soluta unde debitis aliquam laboriosam. Repellat explicabo, maiores!</em></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p>
      <!--
      <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a> -->
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contactenos</h2>
      <hr>
      <address>
        <strong>Visitanos</strong>
        <br>123 en la esquina
        <br>Rancagua, VI 2820000
        <br>
      </address>
      <div style='width: 200px;'>
        <div id="map" style='width: 200px; height: 100px;'></div>
      </div>
      <address>
        <abbr title="Phone">T:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#"><%= link_to 'correo', pages_contact_path %></a>
      </address>
    </div>
  </div>

<!-- carrusel -->
 <%= render 'partials/carrusel' %>

</div>

</html>
