<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Proyecto FullStackFinal</title>
  </head>
  <!-- Header -->
<header class="bg-info mb-2">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-black mt-5 mb-2">La tienda de la esquina</h1>
        <p class="lead mb-5 text-red-50"> Eso, en la esquina</p>
      </div>
    </div>
  </div>
</header>

<!-- Page Content -->
<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 mb-5">
      <h2>Que hacemos</h2>
      <hr>
      <p><em>Somos una pastelería de delicadeces que prepara dulces de complejo trabajo, utilizando los productos mas frescos que se puedan obtener. Nos enfocamos en la preparación de dulces, pasteles, bizcochos, brownis y mas.</em></p>
      <p>Pero, que nos diferencia del resto; “la frescura de nuestros productos”. Cada producto se prepara por pedido, garantizando una frescura absoluta, y entregado al siguiente día, o cuando su sabor este en el momento mas perfecto. </p>
      <%= render 'partials/maps'%>
      <!--
      <a class="btn btn-primary btn-lg" href="#">Call to Action &raquo;</a> -->
    </div>
    <div class="col-md-4 mb-5">
      <h2>Contactenos</h2>
      <hr>
      <address>
        <strong>Visitanos</strong>
        <br>123 en la esquina
        <br>Rancagua, VI 2820000
        <br>
      </address>
      <address>
        <abbr title="Phone">T:</abbr>
        (123) 456-7890
        <br>
        <abbr title="Email">E:</abbr>
        <a href="mailto:#"><%= link_to 'correo', pages_contact_path %></a>
      </address>
    </div>
  </div>

<!-- carrusel -->
 <%= render 'partials/carrusel' %>

</div>

</html>
